# doc build
mkdocs
# GitHub pages upload
ghp-import

# GitHub metadata parsing
git+https://github.com/casperdcl/PyGithub.git@master#egg=PyGithub
requests
tqdm
pyyaml
funcy
six

## graphing
pycairo
python-igraph
plotly

# testing
black
flake8
