# doc build
mkdocs

# GitHub metadata parsing
git+https://github.com/casperdcl/PyGithub.git@master#egg=PyGithub
requests
tqdm
pyyaml
funcy
six

## graphing
pycairo
git+https://github.com/igraph/python-igraph.git@master#egg=python-igraph

# testing
black
flake8
