# doc build
mkdocs>=1.1.2
mkdocs-material

# GitHub pages upload
ghp-import
Jinja2

# GitHub metadata parsing
#git+https://github.com/PyGithub/PyGithub.git@master#egg=PyGithub
PyGithub
requests
tqdm
pyyaml
funcy
six

## graphing
pycairo
python-igraph
plotly

# testing
black
flake8
